body {
    /* background-color: rgb(255, 255, 255); */
    /* background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(170, 170, 170)); */
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#91bfff 1.6px, transparent 1.6px), radial-gradient(#91bfff 1.6px, #ffffff 1.6px);
    background-size: 64px 64px;
    background-position: 0 0,32px 32px;
    font-family: 'Prompt', sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}
.main {
    min-height: 1500px;
    margin: auto;
    position:relative;}
.page{
    margin:auto;
    padding-top: 40px;
    text-align:left;  }
    .Row {
        display: table;
        width: 100%; /*Optional*/
        table-layout: fixed; /*Optional*/
        border-spacing: 10px; /*Optional*/
    }
#Right{
    display: table-cell;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 15px;
    margin-top: 15px;
    /* margin-left:51%; */
    line-height: 1.6;
    /* position: absolute;
    right: 0px; */}
#Left{
    display: table-cell;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 15px;
    margin-top: 15px;
    /* width:46%; */
    line-height: 1.6;
    }
#btn1{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    width: 110px;
    height: 50px;
    margin-right:30px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;
}
#btn2{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    width: 90px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
#btn3{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    width: 150px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
#btn4{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    width: 164px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
#btn5{    
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    width: 30px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
    #btn3:hover,#btn4:hover{
        text-decoration: underline;
        font-size: 30px;
        width: 200px;
        color:rgb(255, 235, 170);
    }
    #btn5:hover{
        text-decoration: underline;
        font-size: 30px;
        width: 100px;
        color:rgb(255, 235, 170);}
#btn1:hover,#btn2:hover{
    text-decoration: underline;
    font-size: 30px;
    width: 130px;
    color:rgb(255, 235, 170);}
#btn1:focus,#btn2:focus,#btn3:focus,#btn4:focus,#btn5:focus{
    color:rgb(255, 235, 170);
    font-weight:bolder;}
#sortprice{
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    border: none;
    cursor:pointer;
    outline: none;
    color: rgb(206, 206, 206);;
    margin-right: 25px;
    margin-top: 35px;
    margin-left: 5px;
    font-size: 12px;
    transition: 0.6s ease all;}
#sortcall,#sortcapacity,#sortspeed{
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    border: none;
    cursor:pointer;
    outline: none;
    color: rgb(206, 206, 206);
    margin-right: 25px;
    margin-top: 35px;
    font-size: 12px;
    transition: 0.6s ease all;}
#fiveg{
        background-color: rgb(29, 29, 29);
        font-family: 'Prompt', sans-serif;
        border-radius: 25px;
        cursor:pointer;
        outline: none;
        color: rgb(255, 255, 255);
        margin-left: 90%;
        font-size: 20px;
        font-weight: normal;
        transition: 0.6s ease all;}
#fourg{
        background-color: rgb(29, 29, 29);
        font-family: 'Prompt', sans-serif;
        border-radius: 25px;
        cursor:pointer;
        outline: none;
        color: rgb(255, 255, 255);
        right: 105px;
        font-size: 20px;
        margin-left: 1px;
        font-weight: normal;
        transition: 0.6s ease all;
    }
#fiveg:hover,#fourg:hover{
    color: rgb(255, 200, 97);
    text-decoration: underline;}

#fiveg:active,#fourg:active{
    font-weight:bolder;}

#sortcall:hover,#sortprice:hover,#sortcapacity:hover,#sortspeed:hover{
    color:rgb(255, 200, 97);
    text-decoration: underline;}
#sortcall:focus,#sortprice:focus,#sortcapacity:focus,#sortspeed:focus{
    color:rgb(255, 200, 97);
    font-weight:bolder;}
.ais{
    display: inline-block;
    width: 12%;
    float: left;
    margin-left: 20px;
    margin-top:10px;}
.dtac{
    display: inline-block;
    width: 12%;
    margin-left:38%;
    margin-top:10px;}


.top {
    height: 100%;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    margin-bottom:20px;
    padding-left: 40px;
    max-width: 100%;}
.bottom{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom:0px;
}
#input{
    font-family: 'Prompt', sans-serif;
    margin: auto;
    }
#enter{
    font-family: 'Prompt', sans-serif;
    margin-top: auto;
    cursor:pointer;}
.search{
    font-family: 'Prompt', sans-serif;
    text-align: right;
    margin-top: 20px;
    display: inline-block;
    margin-left:620px;}
#sortcall:active,#sortprice:active,#sortcapacity:active,#sortspeed:active{
    color:rgb(255, 200, 97);
    font-weight:bolder;}
#btn1:active,#btn2:active,#btn3:active,#btn4:active{
    color:rgb(255, 200, 97);
    font-weight:bolder;}
#home{
    float: right;
    margin: 40px;
    width: 20px;
cursor: pointer;}
#home:hover{
filter: sepia(999%);}
.itemleft{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color:#d4e49a;
    color: black;
    font-size: 15px;
    line-height: 1.6;
    height: 500px;
    overflow: hidden;
    transition: 0.3s ease all;
}

.itemright{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: #92d9ff;   
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    line-height: 1.6;
    height: 500px; 
    overflow: hidden;   
    transition: 0.3s ease all;
}
.itemleft:focus{
    font-size: 18px;
    position: fixed;
    left: 2%;
    top: 2.5%;
    width: 45%;
    height:90%;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 1px 1px 20px;
} 
.itemright:focus{
    font-size: 18px;
    position: fixed;
    right: 1%;
    top: 2.5%;
    width: 45%;
    height:90%;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 1px 1px 20px;
} 
.itemleft:hover,.itemright:hover{
    overflow: scroll;
    overflow-x: hidden;}
.itemleftno{    
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color:#d4e49a;
    color: black;
    font-size: 15px;
    line-height: 1.6;
    height: 60px;
    overflow: hidden;}
.itemrightno{    
    background-color: #92d9ff;   
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    line-height: 1.6;
    height: 60px; }
.typeleft{
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    margin-top: 20px;
    right: 53.5%;
    position:absolute;
    background-color: #f7ffda;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.typesleft{
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    margin-top: 20px;
    right: 57.5%;
    position:absolute;
    background-color: #f7ffda;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.typeright{
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    margin-top: 20px;
    right: 4%;
    position:absolute;
    background-color: #e1f4ff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.typesright{
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    margin-top: 20px;
    right: 8%;
    position:absolute;
    background-color: #e1f4ff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
/* .itemleft:hover{animation: float 6s ease-in-out infinite;}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
} */
