body {
    margin: 0px;
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#ff9191 1.6px, transparent 1.6px), radial-gradient(#ff9191 1.6px, #ffffff 1.6px);
    background-size: 64px 64px;
    background-position: 0 0,32px 32px;
    font-family: Tahoma, sans-serif;
    min-height: 100%;
    overflow-x: hidden;
    transition: 0.6s ease all;
}
body:focus {
    margin: 0px;
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#91bfff 1.6px, transparent 1.6px), radial-gradient(#91bfff 1.6px, #ffffff 1.6px);
    background-size: 64px 64px;
    background-position: 0 0,32px 32px;
    font-family: Tahoma, sans-serif;
    min-height: 100%;
    overflow-x: hidden;
    transition: 0.6s ease all;
}
.main {
    min-height: 1500px;
    margin: auto;
    position:relative;
    transition: 0.6s ease all;}
.page{
    margin:auto;
    padding-top: 40px;
    text-align:left; 
    transition: 0.6s ease all; }
.Row {
        display: table;
        width: 100%; 
        table-layout: fixed; 
        border-spacing: 10px; 
        font-size: 17px;
    }
.Rowdata {
        display: table;
        width: 100%; 
        table-layout: fixed; 
        border-spacing: 0px;
        font-size: 18px;
        line-height: 2.1;
    }
.Column{
        display: table-cell;
}
.Column2{
    width: 320px;
    display: table-cell;
}
#cl{
    margin-bottom: 0px;
    margin-top: 0px;
    display: table-cell;
    padding-left: 83%;
    font-weight: bold;
    font-size: 17px;
}
#totop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #totop:hover {
    background-color: #555;
  }

#Right{
    display: table-cell;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    padding-left: 0px;
    padding-bottom: 20px;
    margin: 15px;
    margin-top: 15px;
    line-height: 1.6;
    width: 30%;
    overflow-x: visible;
}
#Left{
    display: table-cell;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    padding-bottom: 20px;
    margin: 15px;
    padding-left: 20px;
    margin-top: 15px;
    line-height: 1.6;
    }
#btn1{
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    width: 130px;
    height: 50px;
    margin-right:30px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;
}
#btn2{
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    width: 110px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
#btn3{
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    width: 170px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
#btn4{
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    width: 190px;
    height: 50px;
    margin-right:30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: white;
    transition: 0.6s ease all;}
    #btn5{    
        font-family: Tahoma, sans-serif;
        font-size: 25px;
        width: 25px;
        height: 50px;
        margin-right:30px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        outline:none;
        color: white;
        transition: 0.6s ease all;}
        #btn6{      
            font-family: Tahoma, sans-serif;
            font-size: 25px;
            width: 260px;
            height: 50px;
            margin-left: 120px;
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            outline:none;
            color:rgb(255, 200, 97);
            font-weight:bolder;
            transition: 0.6s ease all;}
            #btn6:hover{
                text-decoration: underline;
                font-size: 30px;
                width: 330px;
                color:rgb(255, 235, 170);}
    #btn3:hover,#btn4:hover{
        text-decoration: underline;
        font-size: 30px;
        width: 220px;
        color:rgb(255, 235, 170);
    }
    #btn5:hover{
        text-decoration: underline;
        font-size: 30px;
        width: 100px;
        color:rgb(255, 235, 170);}
#btn1:hover,#btn2:hover{
    text-decoration: underline;
    font-size: 30px;
    width: 140px;
    color:rgb(255, 235, 170);}
#btn1:focus,#btn2:focus,#btn3:focus,#btn4:focus,#btn5:focus{
    color:rgb(255, 235, 170);
    font-weight:bolder;}
#sortprice{
    background-color: transparent;
    font-family: Tahoma, sans-serif;
    border: none;
    cursor:pointer;
    outline: none;
    color: rgb(206, 206, 206);;
    margin-right: 25px;
    margin-top: 70px;
    margin-left: 5px;
    font-size: 15px;
    transition: 0.6s ease all;}



#sortprice:hover{
    font-size: 18px;
    height: 10px;
    color:rgb(255, 200, 97);
    text-decoration: underline;}
#sortprice:focus{
    color:rgb(255, 200, 97);
    font-weight:bolder;}
#true{
    padding-top: 20px;
    transition: 0.6s ease all;
    display: table-cell;
    width: 10%;
    margin-top:10px;
}
#imgtrue{
    margin-bottom: 0px;
    margin-left: 1%;
    width: 15%;}
#img,#img2{
    border: 6px solid rgb(212, 186, 186);
    border-radius: 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: 45px;
    width: 100%;;
    }

.top {
    height: 100%;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    margin-bottom:20px;
    padding-left: 40px;
    max-width: 100%;
    transition: 0.3s ease all;}
.bottom{
    transition: 0.3s ease all;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom:0px;
}
#input{
    font-family: Tahoma, sans-serif;
    margin: auto;
    }
#enter{
    font-family: Tahoma, sans-serif;
    margin-top: auto;
    cursor:pointer;
}
.search{
    font-family: Tahoma, sans-serif;
    text-align: right;
    margin-top: 20px;
    display: inline-block;
    margin-left:83%;}
#sortcall:active,#sortprice:active,#sortcapacity:active,#sortspeed:active{
    color:rgb(255, 200, 97);
    font-weight:bolder;}
#btn1:active,#btn2:active,#btn3:active,#btn4:active{
    color:rgb(255, 200, 97);
    font-weight:bolder;}
#change{
    width: 20px;
    position: absolute;
    right: 5.5%;
    top:5.5%;
    cursor: pointer;
    }
#change:hover{
    filter: opacity(0.5);
}
#home{
    position: absolute;
    right: 2.5%;
    top:5.5%;
    width: 20px;
    cursor: pointer;}
#home:hover{
    filter: opacity(0.5);}
.num{
    margin-top: 10px;
    float: right;
    display: inline-block;
    line-height: 0px;
    text-align: right;
    font-size: 15px;
    font-weight: bolder;
}
.itemleft{
    
    display: inline-block;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 25px;
    background: linear-gradient(126deg, rgb(235, 192, 192) 31%, rgba(255,255,255,1) 100%);
    color: rgb(63, 21, 21);
    font-size: 17px;
    line-height: 2.1;
    height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.3s ease all;
    letter-spacing: 0px;
    width: 95%;
}
.itemright{
    width: 93%;
    display: inline-block;
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 25px;
    background: none;
    border: none;
    font-size: 18px;
    line-height: 2.1;
    height: 580px;
    overflow-y: hidden;
    overflow-x:hidden;
    transition: 0.3s ease all;
    letter-spacing: 0px;;
}
/* .itemleft:hover{
    overflow: scroll;
    overflow-x: hidden;} */
.itemleftno{    
    width:96%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 25px;
    background: linear-gradient(126deg, rgb(235, 192, 192) 31%, rgba(255,255,255,1) 100%);
    color: rgb(63, 21, 21);
    font-size: 16px;
    line-height: 2.1;
    height: 200px;
    overflow: hidden;
    transition: 0.3s ease all;
    letter-spacing: 1px;
    float: right;
    margin-right: 15px;}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 10px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-1px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.numleft{
    width: 45.5%;
    text-align: right;
    margin-top: 510px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(71, 0, 0);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

}









.dropbtn {
    height: 10px;
    background-color: transparent;
    font-family: Tahoma, sans-serif;
    border: none;
    cursor:pointer;
    outline: none;
    color: rgb(206, 206, 206);
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 35px;
    font-size: 25px;
    transition: 0.6s ease all;
  }
  .dropbtn2 {
    height: 10px;
    background-color: transparent;
    font-family: Tahoma, sans-serif;
    border: none;
    cursor:pointer;
    outline: none;
    color: rgb(206, 206, 206);
    margin-right: 60px;
    margin-left: 20px;
    margin-top: 35px;
    font-size: 25px;
    transition: 0.6s ease all;
  }
  .dropbtn:hover{
    font-size: 30px;
    height: 10px;
    color:rgb(255, 200, 97);
    text-decoration: underline;
  }
  .dropbtn2:hover{
    font-size: 30px;
    height: 10px;
    color:rgb(255, 200, 97);
    text-decoration: underline;
  }
  .dropdown,.dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width:180px;
    margin-left: 20px;
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
  }
  .dropdown-content2 {
    margin-left: 10px;
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 25px;
}
  
  
  .dropdown-content a:hover,.dropdown-content2 a:hover {
      background-color: #ddd;
    }
  
.show {display:block;}
.show2 {display:block;}

#a,#o,#r,#s,#v,#s,#x,#h,#l,#all,#all2{
    font-weight: bolder;
    font-family: Tahoma, sans-serif;
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    text-align: left;
    border-radius: 25px;
}
#a:hover,#o:hover,#r:hover,#s:hover,#v:hover,#s:hover,#x:hover,#h:hover,#l:hover,#all:hover,#all2:hover{
background: #ddd;
cursor: pointer;
border-radius: 25px;
}
@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }
.to{
    display: inline-block;
    color: #ddd;
}
.compares{
    font-family: Tahoma, sans-serif;
    transition: 0.6s ease all;
    animation: growDown 300ms ease-in-out forwards;
    background-color: rgb(29, 29, 29);
    padding: 20px;
    width: 470px;
    border-radius: 25px 25px 0px 0px; 
    position: fixed;
    bottom: -65px;
    left: 5px;
    padding-top: 0px;
}
.compares:hover{
    transition: 0.6s ease all;
    animation: growDown 300ms ease-in-out forwards;
    bottom: 0px;
}

.arrow{
    color: white;
    text-align: center;
    line-height: 0px;
    font-size: 25px;
}
#compare{
    font-size: 15px;
    margin-left: 0px;
    background-color: white;
    border-radius: 20px;
}
#compare:hover{
cursor: pointer;
background-color: rgb(221, 221, 221);
}
#clear{
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 10px;
}
#clear:hover{
    cursor: pointer;
}
#mobile1,#mobile2{
    margin-top: 20px;
    font-size: 15px;
    width: 155px;
}
